html,
body {
    height: 100%;
    background-color: #4D423C;
    color: #eee;
}

.datepicker {
  color: #333;
}
.page-header {
  padding-bottom: 9px;
  margin: 18px 0px;
  border-bottom: none;
  font-size: 24px;
  color: #E9C46C;
  text-align: center;
}
.navbar-inverse{
  background-color: #E0E3D6;
  border-color: #E0E3D6;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #E0E3D6;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #4D423C;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #E0E3D6;
    background-color: #E0E3D6;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a:hover{
    color: #4D423C;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #4D423C;
    background-color: #d4d4d4;
}

.m-menu{
    margin-top: 51px;
    background-color: #010101;
    position: absolute;
    z-index: 100;
    width: 100%;
    padding: 0 20px 10px 20px;
    color: rgba(204, 204, 224, 1);
    display: none;
}
.m-menu ul{
  border: 1px solid rgba(121, 121, 121, 1);
  background-color: rgba(40, 40, 40, 1);
  padding: 0;
}
.m-menu li{
  list-style:none;
  border-bottom: 1px solid rgba(121, 121, 121, 1);
  padding: 0;
  height: 50px;
  line-height: 50px;
}
.m-menu a,.m-menu a:link,.m-menu a:visited,.m-menu a:hover,.m-menu a:active{
  text-decoration:none;
  color:rgba(204, 204, 224, 1);
  display: block;
}
.m-menu i{
  display: block;
  float: left;
  width: 28px;
  height: 27px;
  background-image: url(../images/icons.png);
  background-repeat: no-repeat;
  margin: 10px;
  background-size:236px;
}
.m-menu i.icon-menu-home{
  background-position: 0px 1px;
}
.m-menu i.icon-menu-experiences{
  background-position: 0px -27px;
}
.m-menu i.icon-menu-destinations{
  background-position: 0px -54px;
}
.m-menu i.icon-menu-education{
  background-position: 0px -81px;
}
.m-menu i.icon-menu-mice{
  background-position: 0px -108px;
}
.m-menu i.icon-menu-articles{
  background-position: 0px -135px;
}
.m-menu i.icon-menu-faq{
  background-position: 0px -162px;
}
.m-menu i.icon-menu-aboutus{
  background-position: 0px -189px;
}

.container.home-desc{
  color: #17BEBB;
  font-size: 18px;
  margin: 20px 0;
  font-family: Arial;
}

.home-whyus{
  text-align: center;
}
.home-whyus i{
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(../images/icons.png);
  background-repeat: no-repeat;
  margin: 15px auto;
  background-size: 132px;
}
.home-whyus i.icon-whyus-service{
  background-position: -72px 1px;
}
.home-whyus i.icon-whyus-expertise{
  background-position: -72px -58px;
}
.home-whyus i.icon-whyus-flexibility{
  background-position: -72px -117px;
}
.home-whyus i.icon-whyus-quality{
  background-position: -72px -176px;
}

.home-btn{
  margin: 20px auto 30px auto;
  text-align: center;
}
.home-btn .btn-danger {
  width: 80%;
  border-color: #eee;
  border-radius: 15px;
  padding: 9px 15px;
  background-color: #B33635;
}
.home-btn .btn-mine {
  width: 80%;
  border-color: #eee;
  border-radius: 15px;
  padding: 9px 15px;
  background-color: #4D423C;
  font-size: 16px;
  color: #eee;
}

.home-categories .list-group .list-group-item{
  margin: 5px auto;
  padding: 2px 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  color: #333;
  font-size: 20px;
  background-color: #E0E3D6;
  border: 1px solid #797979;
}
.home-categories i.glyphicon{
  color: #47AAED;
  margin: 12px 5px;
}
.home-categories i.icon{
  display: block;
  float: left;
  width: 45px;
  height: 44px;
  background-image: url(../images/icons.png);
  background-repeat: no-repeat;
  margin: 15px auto;
  background-size: 124px;
  margin: 2px 20px 2px 5px;
}
.home-categories .icon-mostpopular{
  background-position: -19px 1px;
}
.home-categories .icon-familyvacation{
  background-position: -19px -44px;
}
.home-categories .icon-culture{
  background-position: -19px -87px;
}
.home-categories .icon-adventurous{
  background-position: -19px -130px;
}
.home-categories .icon-foodie{
  background-position: -19px -174px;
}
.home-categories .icon-ataglance{
  background-position: -19px -217px;
}

.home-categories span{
  line-height: 50px;
}

.thumbnail {
   padding: 0px; 
   border-radius: 0px; 
}

.clients-saying{
  text-align: center;
  font-size: 20px;
}
.clients-saying img{
  padding: 10px;
  float: none;
}

.site-index .faq .list-group-item, .site-index .article .list-group-item{
  background-color: #E0E3D6;
  border-color: #797979;
}
.site-index .list-group h2{
    padding-bottom: 9px;
    margin: 4px 0px;
    border-bottom: none;
    font-size: 24px;
    text-align: center;
    padding: 0;
}
.site-index .list-group i.glyphicon {
    color: #47AAED;
}

div#social-media-icons-container {
    text-align: center;
    display: inline-block;
    margin: 12px auto;
    width: 100%;
}

.social-media-icons{
    color: #333333;
    font-weight: bold;
}
.social-media-icons center{
  margin: 10px 0;
}
.social-media-icons a,.social-media-icons a:link,.social-media-icons a:visited,.social-media-icons a:hover,.social-media-icons a:active{
  text-decoration:none;
  color:#666666;
}

div#social-media-icons-container a {
  background-image: url(../images/social-media-icons.png);
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 370px;
  background-repeat: no-repeat;
}

.navbar-brand {
    padding: 7px 15px;
}

#social-media-icons-container a#tripadvisor {
    background-position: -321px 0;
}
#social-media-icons-container a#instagram {
    background-position: -63px 0;
}
#social-media-icons-container a#facebook {
    background-position: -193px 0;
}
#social-media-icons-container a#twitter {
    background-position: 0px 0;
}
#social-media-icons-container a#linkedin {
    background-position: -257px 0;
}
#social-media-icons-container a#pinterest {
    background-position: -128px 0;
}

.footer .search-box, .footer .pata, .footer .copyright{
  margin: 15px 0;
  color: #666;
  text-align: center;
}

#gotop{
  display:none;
  width:55px;
  height:55px;
  position:fixed;
  right:20px;
  bottom:40px;
  background-color: rgba(204, 51, 51, 0.4);
  border: 1px solid #E4E4E4;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  padding-top: 5px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    line-height: 1;
    margin: 0 auto;
}

.index-faq{
  margin-bottom: 40px;
}
.list-group-item:last-child {
     border-bottom-right-radius: 0px; 
     border-bottom-left-radius: 0px; 
}
.list-group-item:first-child {
     border-top-right-radius: 0px; 
     border-top-left-radius: 0px; 
}

.breadcrumb {
    border-radius: 0px;
    margin-bottom: 0px;
    display: none;
}

.container .price{
  text-align: center;
}
.container .price span{
  font-size: 18px;
  color: #E9C46C;
}
.themes-info .list-group-item{
  background-color: #E0E3D6;
  border: 1px solid #797979;
  color: #333333;
  font-size: 14px;
  padding: 8px 4px;
}

.icon-menu-ok{
    display: block;
    float: left;
    width: 24px;
    height: 23px;
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    background-size: 236px;
    background-position: -2px -273px;
}

.tour-view h2{
  color: #17BEBB;
  font-size: 25px;
}
.container .map .list-group-item{
  padding: 0;
  border: none;
}

.form-info-create tr>td{
  padding: 5px 10px;
}
.form-info-create tr>td:last-child{
  padding-right: 0;
}.form-info-create tr>td:first-child{
  padding-left: 0;
}
.form-info-create table .form-group{
  margin-bottom: 0;
}
.form-info-create .tips
{
  text-align: center;
  color: #808080;
}
.form-info-create hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #c5c5c5;
}

.article-index.container{
  margin:30px 0;
}
.article-index>.container{
  padding: 0;
}
.tour-index.container, .cities-index.container{
  margin-top: 20px;
}
/*
.navbar-inner {
    background-color: red;
    background-image: linear-gradient(to bottom, blue, green);
    background-repeat: repeat-x;
    border: 1px solid yellow;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.dropdown-menu {
    background-clip: padding-box;
    background-color: red;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    list-style: none outside none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}

.btn-group.open .btn.dropdown-toggle {
  background-color: red;
}

.btn-group.open .btn.dropdown-toggle {
  background-color:lime;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color:white;
  background-color:Teal;
}

.navbar .nav > li > a {
    color: white;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 0px 0 #ffffff;
}

.navbar .brand {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: white;
  text-shadow: 0 0px 0 #ffffff;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

.navbar-text {
  margin-bottom: 0;
  line-height: 40px;
  color: white;
}

.dropdown-menu li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: white;
  white-space: nowrap;
}

.navbar-link {
  color: white;
}

.navbar-link:hover {
  color: white;
}*/

/*.container > .navbar-header {
  background-color: #000;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}*/
.thumbnail .carousel-caption {
    bottom: 0px;
}

.tour-view h2{
    color: #17BEBB;
    font-size: 25px;
}
.form-info h2{
    color: #17BEBB;
    font-size: 20px;
    text-align: center;
}
.form-info-create
{
  background-color: #E0E3D6;
  color: #333;
  padding: 30px 10px 10px 10px;
  border-radius: 6px;
  position: relative;
  margin: 30px 0;
}
.form-info .form-title{
  font-size: 20px;
  background-color: #B33635;
  color: #F2F2F2;
  position: absolute;
  top: -17px;
  padding: 3px 14px;
  left: 0;
  right: 0px;
  margin: auto;
  width: 225px;
  height: 35px;
  text-align: center;
  border-radius: 4px;
}
.form-info .form-info-bottom{
  text-align: center;
  color: #999999;
}
.form-info .bt-submit{
  text-align: center;
}
.form-info .btn-success{
  color: #F2F2F2;
  background-color: #B33635;
  border-color: #E4E4E4;
  border-radius: 15px;
  padding: 8px 106px;
}

.tour-index .file-drop-zone {
    /*border: 1px dashed #aaa;*/
    border-radius: 4px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    /*margin: 12px 15px 12px 12px;*/
    /*padding: 5px;*/
    margin-top: 16px;
}
.tour-index .file-preview-frame {
    position: relative;
    display: table;
    margin: 20px 0;
    height: 160px;
    /*border: 1px solid #ddd;*/
    /*box-shadow: 1px 1px 5px 0 #a2958a;*/
    /*padding: 6px;*/
    float: left;
    text-align: center;
    vertical-align: middle;
}
.tour-index .file-thumbnail-footer {
    position: relative;
}
.tour-index .file-footer-caption {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: left;
    padding: 4px 6px;
    font-size: 14px;
    font-weight: bold;
    margin: 5px auto;
    margin-top: 0;
    border: 1px solid #949494;
    border-top: none;
}
.tour-index .file-footer-caption span{
  font-weight:bold;
  font-size: 18px;
  word-wrap: break-word; 
  word-break: normal; 
  color: #E9C46C;
}
.tour-index .file-footer-caption div{
  margin-bottom: 10px;
}

.tour-index .file-preview-image {
  width:100%;
  height:auto;
}
.kv-file-content{
  display: block;
  position: relative;
}
.tour-index .kv-file-content .content-press{
  padding: 8px;
  float: left;
  bottom: 0px;
  position: absolute;
  font-size: 16px;
  color: #E0E3D6;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  text-align: left;
}
.tour-index .kv-file-content .content-press span{
  color: #E9C46C;
  font-weight: bold;
}
.file-drop-zone h3{
  margin-top: 10px;
  color: #17BEBB;
}
.file-drop-zone .btn-sm{
  padding: 4px 16px;
  font-size: 14px;
  background-color: #17BEBB;
  border-radius: 5px;
  border-color: #fff;
}

.tour-index .type-menu {
  padding: 8px 8px 0 8px;
  width: 80%;
  margin: 0 auto;
}
.tour-index .type-menu .btn{
  width: 100%;
}
.tour-index .type-menu .dropdown-menu{
  width: 100%;
}
.tour-index .type-menu .btn,.tour-index .type-menu .input-group-addon{
  border-radius: 0px;
  border-color: #B33635;
  background-color: #4D423C;
  color: #fff;
}
.tour-index .type-menu .input-group-addon{
    background: rgba(203, 51, 51, 1);
    color: #fff;
    font-weight: bold;
}

.tour-index .thumbnail{
  border: 0px;
}

.tour-index .list-info{
  color: #f0ad4e;
}


.tour-view h1.title{
  text-align: center;
  font-size: 24px;
  color: #17BEBB;
}
.tour-view h1.title small{
  color: #eee;
}
.tour-view .tour-info{
  margin: 10px;
  padding: 5px 5px;
}
.tour-info-row{
  display: block;
}
.tour-view .tour-info .tour-info-row div{
  padding: 0 10px;
  border-right: 1px dashed #aaa;
  text-align: center;
}
.tour-view .tour-info .tour-info-row div:last-child{
  border-right: none;
}
.tour-view .tour-info .tour-info-row .item-s{
}
.tour-view .tour-info span{
  color: #f0ad4e;
  font-weight: bold;
  font-size: 16px;
}
.tour-view .tour-info span.price{
  color: #666;
  font-weight: bold;
  font-size: 18px;
}

.tour-view .overview{
    text-overflow: ellipsis;
    overflow: hidden;
}
.tour-view .itineraries{
    padding-bottom: 15px;
}
.tour-view .itineraries .pager{
  margin: 0;
}
.tour-view .itineraries nav{
  padding: 20px 0 10px 0;
  border-bottom: 1px solid #c7c7c7;
  margin-bottom: 10px;
}
.tour-view .itineraries .text{
  font-size: 16px;
  color: #B33635;
}
.tour-view .itinerary-item{
  background-color: #E0E3D6;
  color: #333;
  padding: 0 10px 10px 10px;
}
.tour-index h3{
  color: #17BEBB;
}
.cities-banner{
  text-align:center;
  position: relative;
}
.cities-banner .banner-text{
    position: absolute;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    font-size: 20px;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 50%;
}

.city-view .h-title, .sight-view .h-title, .activity-view .h-title{
  text-align:center;
  font-size: 20px;
  padding: 20px 20px;
  font-weight: bold;
  background: #dadada;
  color: #333;
}
.city-view .h-title .btn-group{
  float: right;
}

.cities-index .page-header{
  color: #17BEBB;
}

.article-view .overview{
  margin: 20px 0;
}
.article-index .list-group-item h2{
  color: #333;
  margin: 10px;
  font-size: 25px;
}

.themes-info i{
  color: rgba(117, 210, 245, 1);
  margin-right: 3px;
}

.dest-title{
  width: 100%;
  margin-bottom: 20px;
}
.dest-title .btn{
  padding: 20px 10px;
  width: 100%;
  background-color: #E0E3D6;
  border-radius: 0px;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  border: none;
}
.dest-title .btn i{
  font-weight: normal;
  color: #17BEBB;
  float: right;
}
.dest-title .dropdown-menu{
  width: 100%
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 51px 0px 0px;
    /*padding: 70px 15px 20px;*/
    /*padding: 0;*/
}

.footer {
    background-color: #E0E3D6;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    color: #666;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
